doctype html
html
  head 
    title Cameras - Viewer
    script(src='/static/js/multi.js')
    style(type='text/css').

      * {
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
      }

      html, body {
        width: 100%;
        height: 100%;
        background-color: #222;
      }

      body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 50%);
      }

      video {
        height: 100%;
        width: 100%;
        background-color: #000;
        object-fit: contain;
      }

      video.me {
        border: solid 2px #2196f3;
      }

  body
    script.
      initMulti()